/* Styles */

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Alata', sans-serif;
}

/* UTILS */
:root {
  /* Colors */
  --primary-color: #d35649;
  --secondary-color: #e27f65;
  --tertiary-color: #509bd7;
  --footer-dark-color: #000;
  --dark-grey-color: #444;
  --grey-color: #98a4a5;
}

a {
  text-decoration: none !important;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-tertiary {
  color: var(--tertiary-color);
}

.color-grey {
  color: var(--grey-color);
}

.bg-white {
  background-color: #fff;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-dark-grey {
  background-color: var(--dark-grey-color);
}

.bg-footer {
  background-color: var(--footer-dark-color);
}

.font-size-small {
  font-size: 13px;
}

.pos-rel {
  position: relative;
}

nav {
  position: fixed;
  z-index: 99;
}

.navbar-brand img {
  width: 28px;
}

._nav-link {
  color: rgba(255, 255, 255, 0.8);
}

._nav-link:hover,
._nav-link.active {
  color: rgba(255, 255, 255, 1);
  border-bottom: solid thin #fff;
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
  }
}
